body {
  color: #d06fcc;
}

h1 {
	color: #05a8co;
}

h2 {
	color: #c2a36;
}

ol {
	color: #65365a;
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: #ff0baa;
  font-size: 30px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#1abc9c ;
  color: ff0baa;
  text-align: center;
}